body{
    position: absolute;
    height: 100%;
    width: 100%;
}

body,
.login_main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top_container{
    margin-bottom: 1px;
    width: 500px;
    height: 50px;
    background-color: rgb(52, 152, 219);
    border: 1px solid rgb(52, 152, 219);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.login_container{
    width: 500px;
    height: 220px;
    background-color: white;
    border : 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.login_container_box{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.login_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_col h5,
.login_col input{
    margin : 5px;
}

.login_col .login_btn{
    width: 67px;
    height: 67px;
    background-color: rgb(52, 152, 219);
    border: none;
    border-radius: 10px;
    color : #FFFFF0;
}

.form{
    display: flex;
        flex-direction: column;
        justify-content: center;
}