<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Login</title>
</head>
<body>
    <main class = "login_main">
        <div class="top_container"></div>
        <div class="login_container">
            <div class="login_container_box">
                <img src="img/top_logo.jpg" alt="" srcset="">
            </div>
            <div class="login_container_box">
                <div class="login_col">
                    <h5>아이디</h5>
                    <h5>비밀번호</h5>
                </div>
                <form action="/loginAfter" >
                    <div class="login_col">
                        <input type="text" class = "login_input">
                        <input type="password" class = "login_input">
                    </div>
                    <div class="login_col">
                        <input type="submit" class = "login_btn"  value="Login">
                    </div>
                </form>
            </div>
        </div>
        <div class="under_container">
            <div class="under_container-col">
                <hr class = "under_line">
            </div>
            <div class="under_container-col">
                COPYRIGHTS 2020 미담장학회. ALL RIGHTS RESERVED<br>
                경북 구미시 대학로 61, TEL : 042-350-0352</div>
        </div>
    </main>
</body>
</html>